aiohttp
alembic
apache-airflow
boto3
celery
confluent_kafka
fastapi
flower
gunicorn
jinja2
jupyter
numpy
pandas
psycopg2-binary
pydantic
python-multipart
pytz
requests
redis
scipy
scikit-learn
setuptools
sqlalchemy
statsmodels
uvicorn
websockets